<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DETAIL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="container">
        <a href="{% url 'show' %}">뒤로</a>
        <br>
        <a href ="{% url 'edit' pk=board.id %}">수정 </a>
        <h1>제목:{{board.title}}</h1>
        <p>내용:{{board.body}}</p>
        <p>등록일:{{board.update_date}}</p>
        <a href="{% url 'delete' pk=board.id %}"> 삭제</a>
    </div>
    <hr />
    <h3>댓글창</h3>
    {% for comment in blog.comments.all %}
    <div class="detail">
        <strong>{{comment.body}}</strong>
        <p class="date">{{comment.date | date:"Y년 n월 j일 G시 i분"}}</p>
        <hr />
    </div>
    {% empty %}
    <p>댓글이 없습니다</p>
    {% endfor %}

    <form action="" method="POST">
        {% csrf_token %} {{ comment_form.as_p }}
        <input type="submit" value="등록" />
    </form>
    <br />
</body>
</html>